#################################################
# Copy file to env.sh and modify as appropriate #
#################################################

# example file tree
# ~
#   android
#     images
#       fajita
#         OnePlus6TOxygen_34.J.61_OTA_0610_all_2109171644_7a4bfad9b1f940d5
#           payload.bin
#           abl.img
#           aop.img
#           bluetooth.img
#           boot.img
#           ...
#           xbl.img
#         twrp
#           twrp-3.3.1-1-fajita.img
#           twrp-3.4.0-1-fajita.img
#           ...

# find from adb devices or fastboot devices
DEVICE_SERIAL=6bf1ed7f

# folder containing android system images...
IMAGES_PATH=$HOME/android/images/fajita

# slot to write images to
# TODO: support flashing both slots at one time
SLOT=a

# path to folder containing partition images
# e.g. from extracted OTA
PARTITION_IMAGES=$IMAGES_PATH/oxygenos9

# path to recovery image, e.g. twrp-3.x.x-fajita.img
# twrp-3.6.0_9-0 works with OxygenOS 11
# twrp-3.3.1-1 works with OxygenOS 9
RECOVERY_IMAGE=$IMAGES_PATH/twrp/twrp-3.3.1-1-fajita.img



# note: partitions may be different in old/new OS versions...
# msm download tool is probably more reliable.
partitions=(
	LOGO
	aop
	bluetooth
	boot
	dsp
	dtbo
	fw_4j1ed
	fw_4u1ea
	fw_ufs3
	fw_ufs4
	fw_ufs5
	fw_ufs6
	fw_ufs7
	fw_ufs8
	mdtp
	mdtpsecapp
	modem
	odm
	oem_dycnvbk
	oem_stanvbk
	qupfw
	storsec
	system
	vbmeta
	vendor
)

# NOTE: india didn't seem to work as normal partition
critical_partitions=(
	abl
	cmnlib64
	cmnlib
	devcfg
	hyp
	india
	keymaster
	reserve
	tz
	xbl_config
	xbl
)

# india_a no such partition

# NOTE: i'm not sure if we should overwrite "reserve" partition too...
